#Editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 4px solid black;
}

.inputs {
    border-right: 2px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs > h2 {
    font-weight: 600;
    font-size: 32px;
}

.preview > h2 {
    font-weight: 600;
    font-size: 32px;
}

.inputsContainer {
    display: flex;
    gap: 8px;
}

.preview {
    border-left: 2px solid black;
    padding: 24px;
}