.Editor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 4px solid black;
}

.inputs {
    border-right: 2px solid black;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.inputs > h2 {
    font-weight: 600;
    font-size: 32px;
}

.preview > h2 {
    font-weight: 600;
    font-size: 32px;
}

.inputsContainer {
    display: flex;
    align-items: center;
    gap: 8px;
}

.preview {
    border-left: 2px solid black;
    padding: 24px;
}

.text {
    font-size: 11px;
}

.label {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
}

.label > input[type="checkbox"] {
    /* Remove default checkbox style */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* Size and box styling */
    width: 18px;
    height: 18px;
    border-top: 1.5px solid black;
    border-left: 1.5px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
    cursor: pointer;
    position: relative;
}

.label > input[type="checkbox"]:hover {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
}

/* Add a checkmark when checked */
.label > input[type="checkbox"]:checked::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #009cfc;
}