* {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
  width: 16px;
}

/* Style the track */
::-webkit-scrollbar-track {
  background: white; 
  border-left: 4px solid black;
}

/* Style the thumb */
::-webkit-scrollbar-thumb {
  background: black; 
}